# Filter for sex per country

In [71]:
import os

import pandas as pd

BASE = os.path.join(os.pardir, "data")

In [73]:
filename = "teilm022.pkl"
df = pd.read_pickle(os.path.join(BASE, 
                                 "pickles", 
                                 filename))
df.head()

,s_adj,age,sex,unit,geo,2019m09,2019m10,2019m11,2019m12,2020m01,2020m02,2020m03,2020m04,2020m05,2020m06,2020m07,2020m08
0,SA,Y25-74,F,PC_ACT,AT,3.7,3.8,3.7,3.7,3.7,3.6,3.7,4.0,4.2,4.1,3.9,NaN
1,SA,Y25-74,F,PC_ACT,BE,4.3,4.1,3.9,3.9,4.1,4.2,4.4,4.5,4.4,4.4,4.4,NaN
2,SA,Y25-74,F,PC_ACT,BG,3.5,3.6,3.6,3.5,3.8,3.6,3.6,4.2,4.0,3.9,3.9,NaN
3,SA,Y25-74,F,PC_ACT,CH,4.0,3.8,3.6,3.7,4.0,4.1,4.1,4.0,4.1,4.2,NaN,NaN
4,SA,Y25-74,F,PC_ACT,CY,7.0,6.8,6.6,6.3,6.0,5.6,5.9,7.3,7.3,6.1,5.3,NaN

In [74]:
# Save the parameters in case we need to reference
params = df.iloc[0][0:4]
# Check how what unique values
df["sex"].unique()

array(['F', 'M', 'T'], dtype=object)

In [75]:
df = df.drop(columns=["s_adj", "age", "unit"])

In [76]:
# Take average of year data
df["mean"] = df[df.columns[2:]].mean(axis=1)

In [77]:
# Transform the table
df = (df
     .drop(columns=t.columns[2:-1])
     .pivot(index="geo", columns="sex", values="mean")
     .round(2))
df

sex            F      M      T
geo
AT          3.83   4.15   4.01
BE          4.24   4.83   4.56
BG          3.75   4.25   4.03
CH          3.96   3.71   3.81
CY          6.38   5.63   6.00
CZ          2.26   1.75   1.98
DE          3.16   3.67   3.44
DK          4.76   3.86   4.29
EA          7.06   6.28   6.66
EA18        7.07   6.28   6.66
EA19        7.06   6.28   6.66
EE          4.59   4.77   4.70
EL         19.05  12.74  15.51
ES         14.91  11.65  13.16
EU27_2007   5.72   5.12   5.40
EU27_2020   6.25   5.59   5.90
EU28        5.72   5.12   5.40
FI          5.28   5.71   5.52
FR          6.44   6.42   6.40
HR          6.65   5.70   6.15
HU          3.43   3.00   3.20
IE          3.62   4.02   3.85
IS          3.14   2.71   2.91
IT          9.67   7.45   8.43
LT          5.67   7.17   6.44
LU          5.17   5.14   5.16
LV          5.93   7.75   6.83
MT          3.73   2.78   3.15
NL          2.68   2.65   2.66
NO          2.76   3.28   3.03
PL          2.80   2.48   2.62
PT          5.98   5.34   5.65
RO          2.96   3.97   3.53
SE          5.82   5.67   5.73
SI          4.60   3.52   4.03
SK          5.65   5.12   5.35
TR           NaN    NaN  11.20
UK          2.64   2.74   2.69
US          6.16   5.55   5.85

## Absolute numbers
To get fractions we need to work with absolute numbers. We repeat the process for a different table and then calculate the fractions.

In [105]:
# Open file
filename = "teilm010.pkl"
abs_df = pd.read_pickle(os.path.join(BASE, 
                                     "pickles", 
                                     filename))
abs_df = abs_df.drop(columns=["s_adj", "age", "unit"])
abs_df.head()

,sex,geo,2019m09,2019m10,2019m11,2019m12,2020m01,2020m02,2020m03,2020m04,2020m05,2020m06,2020m07,2020m08
0,F,AT,88,89,88,90,92,91.0,93.0,101.0,104.0,102.0,96.0,NaN
1,F,BE,117,113,110,110,115,117.0,120.0,125.0,124.0,123.0,121.0,NaN
2,F,BG,56,58,58,57,61,59.0,59.0,72.0,68.0,64.0,64.0,NaN
3,F,CH,106,100,97,98,102,102.0,104.0,103.0,105.0,106.0,NaN,NaN
4,F,CY,16,16,16,15,14,13.0,13.0,17.0,18.0,15.0,13.0,NaN

In [106]:
abs_df["mean"] = abs_df[abs_df.columns[2:]].mean(axis=1)
abs_df = (abs_df
         .drop(columns=t.columns[2:-1])
         .pivot(index="geo", columns="sex", values="mean")
         .round(2))
abs_df

sex              F        M         T
geo
AT           94.00   119.09    213.09
BE          117.73   150.18    267.55
BG           61.45    83.18    144.45
CH          102.30   112.70    214.80
CY           15.09    15.64     30.45
CZ           59.64    58.91    118.45
DE          692.91   924.18   1617.00
DK           78.45    79.27    157.82
EA         5913.91  6262.64  12176.82
EA18       5868.73  6202.45  12071.18
EA19       5913.91  6262.64  12176.82
EE           17.80    19.30     36.80
EL          408.00   353.50    761.60
ES         1704.55  1575.45   3280.00
EU27_2007  7315.60  7937.60  15253.40
EU27_2020  6853.45  7401.18  14254.55
EU28       7372.20  7995.20  15367.40
FI           89.45   106.36    195.82
FR         1077.91  1174.36   2252.00
HR           64.64    65.64    130.09
HU           85.20    93.40    178.60
IE           52.67    65.00    117.67
IS            3.55     4.36      7.91
IT         1118.00  1207.18   2325.27
JP          696.36  1034.55   1730.91
LT           45.09    60.36    105.73
LU            9.00    10.73     19.82
LV           30.55    40.27     71.00
MT            4.36     6.00     10.64
NL          150.82   173.55    324.55
NO           49.90    64.70    114.30
PL          243.09   276.45    519.36
PT          182.09   159.64    342.09
RO          147.27   257.55    404.82
SE          197.55   221.64    419.36
SI           23.91    21.55     45.55
SK           79.00    87.64    166.55
TR             NaN      NaN   4178.00
UK          576.89   710.56   1287.22
US         5369.00  5554.36  10923.36

In [107]:
# Calculate fractions

""" NOTE: The fraction of the total unemployed is not completely 
clear since the size of female vs male population might differ """

abs_df["frac_f"] = round(abs_df["F"] / abs_df["T"], 4) * 100
abs_df["frac_m"] = round(abs_df["M"] / abs_df["T"], 4) * 100

In [108]:
# Drop the absolute numbers for female / male
abs_df.drop(columns=["F", "M"], inplace=True)
abs_df.rename(columns={"T": "abs_t"}, inplace=True)

In [109]:
df.merge(abs_df, how="outer", on="geo")

sex            F      M      T     abs_t  frac_f  frac_m
geo
AT          3.83   4.15   4.01    213.09   44.11   55.89
BE          4.24   4.83   4.56    267.55   44.00   56.13
BG          3.75   4.25   4.03    144.45   42.54   57.58
CH          3.96   3.71   3.81    214.80   47.63   52.47
CY          6.38   5.63   6.00     30.45   49.56   51.36
CZ          2.26   1.75   1.98    118.45   50.35   49.73
DE          3.16   3.67   3.44   1617.00   42.85   57.15
DK          4.76   3.86   4.29    157.82   49.71   50.23
EA          7.06   6.28   6.66  12176.82   48.57   51.43
EA18        7.07   6.28   6.66  12071.18   48.62   51.38
EA19        7.06   6.28   6.66  12176.82   48.57   51.43
EE          4.59   4.77   4.70     36.80   48.37   52.45
EL         19.05  12.74  15.51    761.60   53.57   46.42
ES         14.91  11.65  13.16   3280.00   51.97   48.03
EU27_2007   5.72   5.12   5.40  15253.40   47.96   52.04
EU27_2020   6.25   5.59   5.90  14254.55   48.08   51.92
EU28        5.72   5.12   5.40  15367.40   47.97   52.03
FI          5.28   5.71   5.52    195.82   45.68   54.32
FR          6.44   6.42   6.40   2252.00   47.86   52.15
HR          6.65   5.70   6.15    130.09   49.69   50.46
HU          3.43   3.00   3.20    178.60   47.70   52.30
IE          3.62   4.02   3.85    117.67   44.76   55.24
IS          3.14   2.71   2.91      7.91   44.88   55.12
IT          9.67   7.45   8.43   2325.27   48.08   51.92
LT          5.67   7.17   6.44    105.73   42.65   57.09
LU          5.17   5.14   5.16     19.82   45.41   54.14
LV          5.93   7.75   6.83     71.00   43.03   56.72
MT          3.73   2.78   3.15     10.64   40.98   56.39
NL          2.68   2.65   2.66    324.55   46.47   53.47
NO          2.76   3.28   3.03    114.30   43.66   56.61
PL          2.80   2.48   2.62    519.36   46.81   53.23
PT          5.98   5.34   5.65    342.09   53.23   46.67
RO          2.96   3.97   3.53    404.82   36.38   63.62
SE          5.82   5.67   5.73    419.36   47.11   52.85
SI          4.60   3.52   4.03     45.55   52.49   47.31
SK          5.65   5.12   5.35    166.55   47.43   52.62
TR           NaN    NaN  11.20   4178.00     NaN     NaN
UK          2.64   2.74   2.69   1287.22   44.82   55.20
US          6.16   5.55   5.85  10923.36   49.15   50.85
JP           NaN    NaN    NaN   1730.91   40.23   59.77

In [119]:
# Export
df.to_pickle(os.path.join(BASE, "output", "filtered_sex_country.pkl"))