In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:
def list_tsv():
    """Return list of tsv files"""
    base = os.path.join(os.pardir, "data")
    return [x for x in os.listdir(os.path.join(base, "tsv"))]

In [3]:
list_tsv()

['lfsq_pganws.tsv',
 'sdg_08_40.tsv',
 't2020_10.tsv',
 'teilm010.tsv',
 'teilm011.tsv',
 'teilm012.tsv',
 'teilm020.tsv',
 'teilm021.tsv',
 'teilm022.tsv',
 'tepsr_wc120.tsv',
 'tgs00007.tsv',
 'tgs00010.tsv',
 'tgs00053.tsv',
 'tgs00102.tsv',
 'tps00066.tsv',
 'tps00070.tsv',
 'tps00071.tsv',
 'tps00073.tsv',
 'tps00074.tsv',
 'tps00159.tsv',
 'tps00181.tsv',
 'tps00182.tsv',
 'tps00203.tsv']

In [4]:
new = pd.read_csv("../data/tsv/lfsq_pganws.tsv", sep='\t')

In [5]:
new.iloc[2000:2005]

,"unit,sex,citizen,age,wstatus,geo\time",2020Q2,2020Q1,2019Q4,2019Q3,2019Q2,2019Q1,2018Q4,2018Q3,2018Q2,...,2000Q2,2000Q1,1999Q4,1999Q3,1999Q2,1999Q1,1998Q4,1998Q3,1998Q2,1998Q1
2000,"THS,F,EU15_FOR,Y25-59,ACT,MK",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2001,"THS,F,EU15_FOR,Y25-59,ACT,MT",:,:,6.1,7.5,8.3,7.5,6.5,6.6,4.1,...,:,:,:,:,:,:,:,:,:,:
2002,"THS,F,EU15_FOR,Y25-59,ACT,NL",:,:,69.1,69.8,68.8,65.0,60.9,60.1,65.4,...,50.3,43.9,:,:,51.1,:,:,:,:,:
2003,"THS,F,EU15_FOR,Y25-59,ACT,NO",:,:,45.6,48.6,46.7,45.9,47.5,44.7,42.6,...,15.9,15.9,:,:,15.3,:,:,:,12.0,:
2004,"THS,F,EU15_FOR,Y25-59,ACT,PL",:,:,: c,: c,: c,:,: c,: c,: c,...,:,:,:,:,:,:,:,:,:,:

In [6]:
ltubysex = pd.read_csv("../data/tsv/sdg_08_40.tsv", sep='\t')
ltubysex

,"indic_em,age,unit,sex,geo\time",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"LTU,Y15-74,PC_ACT,F,AT",:,:,1.1,1.0,1.6 b,1.5,1.4,1.5 b,1.0,...,1.0,1.1,1.1,1.2,1.4,1.4,1.7,1.7,1.3,1.0
1,"LTU,Y15-74,PC_ACT,F,BE",4.7,3.5 b,4.3,4.2,4.7,5.0,4.9,4.3,3.6,...,4.1,3.6,3.2,3.7,3.8,3.9,3.8,3.2 b,2.6,2.1
2,"LTU,Y15-74,PC_ACT,F,BG",9.4,11.9 b,11.4,8.6,7.0,6.0,5.3,4.5,3.1,...,4.4 b,5.5 b,5.8,6.6,6.0,5.0,4.1,3.2,2.6,2.2
3,"LTU,Y15-74,PC_ACT,F,CH",:,:,:,:,:,:,:,:,:,...,1.9 b,1.7,1.6,1.7,1.9,1.9,1.9,1.9,1.9,1.7
4,"LTU,Y15-74,PC_ACT,F,CY",:,:,:,:,:,1.8,1.2,0.7 u,0.5 u,...,1.3,1.5,3.1,5.6,7.0,6.2,5.1,4.0,2.8,2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,"LTU,Y15-74,PC_ACT,T,SE",:,1.0 b,1.0,1.0,1.3,:,:,0.8,0.8,...,1.6,1.5,1.5,1.4,1.4,1.5,1.3,1.2,1.1 b,0.9
110,"LTU,Y15-74,PC_ACT,T,SI",4.1,3.7,3.5,3.5,3.3,3.1,2.9,2.2,1.9,...,3.2,3.6,4.3,5.2,5.3,4.7,4.3,3.1,2.2,1.9
111,"LTU,Y15-74,PC_ACT,T,SK",10.1,11.3,12.2,11.4 b,11.8,11.7,10.2,8.3,6.6,...,9.2,9.2 b,9.4,10.0,9.3,7.6,5.8,5.1,4.0,3.4
112,"LTU,Y15-74,PC_ACT,T,TR",:,:,:,:,:,:,2.7,2.3,2.3,...,2.8,2.1,1.8,1.9,2.0 b,2.2,2.2,2.4,2.4,3.2
113,"LTU,Y15-74,PC_ACT,T,UK",1.5,1.3,1.1,1.1,1.0 b,1.0,1.2,1.3 b,1.4 b,...,2.5,2.7,2.7,2.7,2.2,1.6,1.3,1.1,1.1,0.9

In [7]:
ltubysex[['indic_em', 'Age_group','Unit',"Sex","Geo_time"]] = ltubysex.iloc[:,0].str.split(",", expand=True)

In [8]:
ltubysex

,"indic_em,age,unit,sex,geo\time",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,indic_em,Age_group,Unit,Sex,Geo_time
0,"LTU,Y15-74,PC_ACT,F,AT",:,:,1.1,1.0,1.6 b,1.5,1.4,1.5 b,1.0,...,1.4,1.7,1.7,1.3,1.0,LTU,Y15-74,PC_ACT,F,AT
1,"LTU,Y15-74,PC_ACT,F,BE",4.7,3.5 b,4.3,4.2,4.7,5.0,4.9,4.3,3.6,...,3.9,3.8,3.2 b,2.6,2.1,LTU,Y15-74,PC_ACT,F,BE
2,"LTU,Y15-74,PC_ACT,F,BG",9.4,11.9 b,11.4,8.6,7.0,6.0,5.3,4.5,3.1,...,5.0,4.1,3.2,2.6,2.2,LTU,Y15-74,PC_ACT,F,BG
3,"LTU,Y15-74,PC_ACT,F,CH",:,:,:,:,:,:,:,:,:,...,1.9,1.9,1.9,1.9,1.7,LTU,Y15-74,PC_ACT,F,CH
4,"LTU,Y15-74,PC_ACT,F,CY",:,:,:,:,:,1.8,1.2,0.7 u,0.5 u,...,6.2,5.1,4.0,2.8,2.3,LTU,Y15-74,PC_ACT,F,CY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,"LTU,Y15-74,PC_ACT,T,SE",:,1.0 b,1.0,1.0,1.3,:,:,0.8,0.8,...,1.5,1.3,1.2,1.1 b,0.9,LTU,Y15-74,PC_ACT,T,SE
110,"LTU,Y15-74,PC_ACT,T,SI",4.1,3.7,3.5,3.5,3.3,3.1,2.9,2.2,1.9,...,4.7,4.3,3.1,2.2,1.9,LTU,Y15-74,PC_ACT,T,SI
111,"LTU,Y15-74,PC_ACT,T,SK",10.1,11.3,12.2,11.4 b,11.8,11.7,10.2,8.3,6.6,...,7.6,5.8,5.1,4.0,3.4,LTU,Y15-74,PC_ACT,T,SK
112,"LTU,Y15-74,PC_ACT,T,TR",:,:,:,:,:,:,2.7,2.3,2.3,...,2.2,2.2,2.4,2.4,3.2,LTU,Y15-74,PC_ACT,T,TR
113,"LTU,Y15-74,PC_ACT,T,UK",1.5,1.3,1.1,1.1,1.0 b,1.0,1.2,1.3 b,1.4 b,...,1.6,1.3,1.1,1.1,0.9,LTU,Y15-74,PC_ACT,T,UK

In [9]:
ltubysex1 = ltubysex[["indic_em","Age_group","Unit","Sex","Geo_time","2000 ", "2001 ", "2002 ", "2003 ", "2004 ", "2005 ", "2006 ", "2007 ", "2008 ","2009 ","2010 ", "2011 ","2012 ","2013 ","2014 ","2015 ","2016 ","2017 ","2018 ","2019 "]]

In [10]:
ltubysex1.head()

,indic_em,Age_group,Unit,Sex,Geo_time,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,LTU,Y15-74,PC_ACT,F,AT,:,:,1.1,1.0,1.6 b,...,1.0,1.1,1.1,1.2,1.4,1.4,1.7,1.7,1.3,1.0
1,LTU,Y15-74,PC_ACT,F,BE,4.7,3.5 b,4.3,4.2,4.7,...,4.1,3.6,3.2,3.7,3.8,3.9,3.8,3.2 b,2.6,2.1
2,LTU,Y15-74,PC_ACT,F,BG,9.4,11.9 b,11.4,8.6,7.0,...,4.4 b,5.5 b,5.8,6.6,6.0,5.0,4.1,3.2,2.6,2.2
3,LTU,Y15-74,PC_ACT,F,CH,:,:,:,:,:,...,1.9 b,1.7,1.6,1.7,1.9,1.9,1.9,1.9,1.9,1.7
4,LTU,Y15-74,PC_ACT,F,CY,:,:,:,:,:,...,1.3,1.5,3.1,5.6,7.0,6.2,5.1,4.0,2.8,2.3

In [11]:
ltubysex1.columns = ltubysex1.columns.str.strip()
ltubysex1.columns

Index(['indic_em', 'Age_group', 'Unit', 'Sex', 'Geo_time', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [12]:
ltubysex1.dtypes

indic_em     object
Age_group    object
Unit         object
Sex          object
Geo_time     object
2000         object
2001         object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
2019         object
dtype: object

In [16]:
ltubysex1['2001'].value_counts()

:        57
0.8       3
11.3      3
1.0       2
1.3       2
3.5       2
0.4       2
1.2       2
1.5       2
3.4       2
2.3       2
5.5       2
0.9       2
0.3 u     1
3.0       1
6.4       1
3.1       1
3.7       1
12.6      1
2.7       1
11.9      1
7.2       1
2.1       1
5.9       1
3.3       1
2.9       1
3.8       1
8.1       1
4.5       1
13.2      1
10.8      1
5.2       1
2.6       1
3.6       1
4.0       1
1.7       1
9.2       1
6.1       1
1.9       1
4.2       1
2.5       1
7.8       1
9.1       1
3.2       1
Name: 2001, dtype: int64

In [ ]:
# Turn Years into numerics
ltubysex1['2002'] = pd.to_numeric(ltubysex1['2002'], errors='coerce').fillna(0)

In [ ]:
ltubysex1.head()